@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');



body {
  display: block;
  width: 650px;
  margin: 150px auto;
  font-family: 'Hanken Grotesk', sans-serif;
  /* background-color: bisque; */
}

/* Flex to merge the 2 cards */
#flex-clash {
  display: flex;
  width: 650px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 15px hsl(222, 100%, 94%);
  border-radius: 20px;
}

/* This is for the first card container */
.first-card {
  flex: 1;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  border-radius: 20px;
  height: 460px;
}

/* This is for the title in the first card 'Your result' */
.main-title {
  color: hsl(241, 100%, 89%);
  padding: 10px 0 20px;
}

/* This is for the score circle */
.score-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -11px auto 0;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

/* Main score of 76 */
.main-score {
  font-size: 350%;
  color: hsl(0, 0%, 100%);
  margin-top: 15px;
}

/* This is for the little number below the main score */
.out-of-score {
  color: hsl(241, 100%, 89%);
  margin-top: -50px;
}

/* This is for the subheader which has the 'Great' title */
.sub-header {
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 100;
  margin: 30px auto 13px;
  padding-top: 10px;
}

/* This is for the info of the score itself */
.score-info {
  color: hsl(241, 100%, 89%);
  width: 219px;
  margin: auto;
}

/* This div contains the second card elements */
.second-card {
  flex: 1;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 10px hsl(222, 100%, 94%);
}

.second-main-title {
  color: hsl(224, 30%, 27%);
  margin: 5px 0 0 -135px;
  padding-top: 10px;
}

/* This is for the list from second card  */
.list-point {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  width: 200px;
  border-radius: 10px;
}

li {
  list-style-type: none;
  text-align: center;
}

span {
  padding-right: 3px;
}




/* This will target the 100s in the second card to give them all the gray color */
.for-the-hundred {
  color: hsl(0, 0%, 62%);
}

.for-the-scores {
  color: hsl(224, 30%, 27%);
}

/* This is for the elements background */
.first-element {
  background: hsl(0, 100%, 94%);
  padding: 15px 20px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-element {
  background: hsl(56, 100%, 94%);
  padding: 15px 20px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.third-element {
  background: hsl(165, 33%, 95%);
  padding: 15px 20px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fourth-element {
  background: hsl(221, 100%, 96%);
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* This is for the elements (reaction, memory, etc.) to give them their designated colors */
.reaction {
  color: hsl(0, 100%, 67%);
  margin-left: -45px;
}

.memory {
  color: hsl(39, 100%, 56%);
  margin-left: -45px;
}

.verbal {
  color: hsl(166, 100%, 37%);
  margin-left: -55px;
}

.visual {
  color: hsl(234, 85%, 45%);
  margin-left: -55px;
  
}

/* icons -- utility class */
img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.text-element {
  margin-right: -10px;

}

/* button */
.btn {
  width: 245px;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: hsl(224, 30%, 27%);
  color: #fff;
}

.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  transition: 3s;
}


.attribution {
  text-align: center;
  margin-top: 15px;
}